:root{
    --body: #01EA01; #F9F4F4; #000000;
    --color: #01EA01;#F9F4F4;#000000;
    --font-family: robotomono; Pilowlava;
}


body{
    background: ;
}

/* nav bas
<img class="barrenoire" src="assets\Nav bas\Rectangle 31.svg" alt="">
        <a href=""></a>
        <img class="barreverte" src="assets\Nav bas\Rectangle 19.svg" alt="">
        <a href=""></a>
        <img class="boutonhome" src="assets\Nav bas\Group 94.svg" alt="">
        <a href=""></a>
        <img class="boutonbillets" src="assets\Nav bas\Light-Outline\Buy.svg" alt="">
        <a href=""></a>
        <img class="boutonsos" src="assets\Nav bas\Light-Outline\Danger Triangle.svg" alt="">
        <a href=""></a>
        <img class="boutonmap" src="assets\Nav bas\Light-Outline\Location.svg" alt="">
        <a href=""></a>
        <img class="boutonparametres" src="assets\Nav bas\Light-Outline\Setting.svg" alt="">
        <a href=""></a>
        */
        